trigger: none

pool: pool_of_agents

jobs:
  - job: 
    displayName: Build
    steps:
    - task: NodeTool@0
      displayName: node install
      inputs:
        versionSource: 'spec'
        versionSpec: '16.x'
  
    # - task: PowerShell@2
    #   inputs:
    #     targetType: 'inline'
    #     script: 'npm install'

    # - task: PowerShell@2
    #   inputs:
    #     targetType: 'inline'
    #     script: 'npm run build'

    - task: Npm@1
      inputs:
        command: 'install'

    - task: Npm@1
      inputs:
        command: 'custom'
        customCommand: 'run build'

    - task: CopyFiles@2
      inputs:
        SourceFolder: '$(Build.SourcesDirectory)'
        Contents: '**'
        TargetFolder: '$(Build.ArtifactStagingDirectory)/build'

    - task: PublishBuildArtifacts@1
      displayName: publish build artifact
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)/build'
        ArtifactName: 'artifactvs1'
        publishLocation: 'Container'