trigger: none

pool: pool_of_agents

jobs:
  - job: 
    displayName: Build
    steps:
    - task: NodeTool@0
      displayName: node install
      inputs:
        versionSource: 'spec'
        versionSpec: '16.x'
  
    - task: PowerShell@2
      displayName: npm install
      inputs:
        targetType: 'inline'
        script: 'npm install'

    - task: PowerShell@2
      displayName: Run build
      inputs:
        targetType: 'inline'
        script: |
          npm run build
          mkdir $(Build.ArtifactStagingDirectory)\build
          Copy-Item -Recurse -Force build\* $(Build.ArtifactStagingDirectory)\build


    - task: PublishBuildArtifacts@1
      displayName: publish build artifact
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)/build'
        ArtifactName: 'artifactvs1'
        publishLocation: 'Container'