trigger: none
#  branches:
#    include:
#      - main
#      - feature/*

pool: pool_of_agents

stages: 
  - stage: BuildandPackage
    displayName: Build & Artifact Package
    jobs:
      - job: ApplicationBuild
        displayName: Application Build
        steps:
        - task: NodeTool@0
          displayName: Node Install
          inputs:
            versionSource: 'spec'
            versionSpec: '16.x'
            checkLatest: true

        # - task: Npm@1
        #   displayName: Npm Install
        #   inputs:
        #     command: 'install'
        #     workingDir: '$(System.DefaultWorkingDirectory)'

        # - task: Npm@1
        #   displayName: Npm Run Build  # agent folder me build banta hai 
        #   inputs:
        #     command: 'custom'
        #     workingDir: '$(System.DefaultWorkingDirectory)'
        #     customCommand: 'run build'

        # - task: PublishBuildArtifacts@1
        #   inputs:
        #     PathtoPublish: 'build'
        #     ArtifactName: 'BuildArtifact'
        #     publishLocation: 'Container'
