trigger: none

pool: pool_of_agents

jobs:
  - job: 
    displayName: Build
    steps:
    - task: NodeTool@0
      displayName: node install
      inputs:
        versionSource: 'spec'
        versionSpec: '16.x'
  
    - task: PowerShell@2
      displayName: npm install
      inputs:
        targetType: 'inline'
        script: 'npm install'

    - task: PowerShell@2
      displayName: Run build
      inputs:
        targetType: 'inline'
        script: |
          npm run build
          mkdir $(Build.ArtifactStagingDirectory)\build
          Copy-Item -Recurse -Force build\* $(Build.ArtifactStagingDirectory)\build

    - task: PublishBuildArtifacts@1
      displayName: publish build artifact
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)/build'
        ArtifactName: 'artifactvs1'
        publishLocation: 'Container'

  - job: DeployJob
    displayName: Deploy on Nginx VM
    steps:
      - download: current
        artifact: drop

      - task: CopyFilesOverSSH@0
        inputs:
          sshEndpoint: 'vm_service'
          sourceFolder: '$(Pipeline.Workspace)/artifactvs1'
          contents: '/*.zip'
          targetFolder: '/var/www/myapp'
          readyTimeout: '20000'

      - task: SSH@0
        inputs:
          sshEndpoint: 'vm_service'
          runOptions: 'inline'
          inline: |
            cd /var/www/myapp
            unzip -o webapp.zip
            sudo systemctl reload nginx
          readyTimeout: '20000'

      