trigger:
 branches:
   include:
     - main
     - feature/*

pool: pool_of_agents

stages: 
  - stage: BuildandPackage
    displayName: Build & Artifact Package
    jobs:
      - job: ApplicationBuild
        displayName: Application Build
        steps:
        - task: NodeTool@0
          displayName: Node Install
          inputs:
            versionSource: 'spec'
            versionSpec: '16.x'

        - task: Npm@1
          displayName: Npm Install
          inputs:
            command: 'install'
            workingDir: '$(System.DefaultWorkingDirectory)'

        - task: Npm@1
          displayName: Npm Run Build
          inputs:
            command: 'custom'
            workingDir: '$(System.DefaultWorkingDirectory)/build'
            customCommand: 'run build'

        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: '$(Build.ArtifactStagingDirectory)/build'
            ArtifactName: 'Build_Artifact'
            publishLocation: 'Container'
