trigger: none
#  branches:
#    include:
#      - main
#      - feature/*

pool: app_agent_pool

stages: 
  - stage: BuildandPackage
    displayName: Build & Artifact Package
    jobs:
      - job: ApplicationBuild
        displayName: Application Build
        steps:
        - task: NodeTool@0
          displayName: Node Install
          inputs:
            versionSource: 'spec'
            versionSpec: '16.x'
            checkLatest: true

        - task: Npm@1
          displayName: Npm Install
          inputs:
            command: 'install'
            workingDir: '$(System.DefaultWorkingDirectory)'

        - task: Npm@1
          displayName: Npm Run Build  # agent folder me build banta hai 
          inputs:
            command: 'custom'
            workingDir: '$(System.DefaultWorkingDirectory)'
            customCommand: 'run build'

        - task: PublishPipelineArtifact@1
          inputs:
            targetPath: '$(System.DefaultWorkingDirectory)/build'
            artifact: 'todo_artifact'
            publishLocation: 'pipeline'

# CD Pipeline

  - stage: Deployment
    displayName: Deployment on VM
    jobs:
      - job: Deploymentstage
        displayName: DeDeployment job
        steps:
        - task: DownloadPipelineArtifact@2
          displayName: downloading artifact
          inputs:
            buildType: 'current'
            artifactName: 'todo_artifact'
            targetPath: '$(Pipeline.Workspace)/todo_artifact'
        - task: CopyFilesOverSSH@0
          inputs:
            sshEndpoint: 'app_connection'
            sourceFolder: '$(Pipeline.Workspace)/todo_artifact'
            contents: '**'
            targetFolder: '/home/adminuser1'
            readyTimeout: '20000'
