trigger: none

pool: pool_of_agents

jobs:
  - job: install
    displayName: node install
    steps:
    - task: NodeTool@0
      displayName: node install
      inputs:
        versionSource: 'spec'
        versionSpec: '16.x'
  
    - task: Npm@1
      displayName: npm install
      inputs:
        command: 'install'
        workingDir: '$(System.DefaultWorkingDirectory)'

    - task: Npm@1
      displayName: npm run build
      inputs:
        command: 'custom'
        workingDir: '$(System.DefaultWorkingDirectory)'
        customCommand: 'npm run build'

    - task: PublishBuildArtifacts@1
      displayName: publish artifact
      inputs:
        PathtoPublish: '$(Build.ArtifactStagingDirectory)/build'
        ArtifactName: 'artifactvs1'
        publishLocation: 'Container'